embed_api/embeddings/*
embed_api/subject/*
.env
app/node_modules/*
function_calling/images/*
testing/*
embed_api/names.csv
app/frontend/*
basic.pem
connect_server.sh
database_managment/node_modules/*
teacher_gpt.code-workspace
questions_generator/*
app/tex/*
database_managment/subsystem/main
function_calling/context/*
testing/*
database_managment/database_api/main
embed_api/context_selected/*
app/latest-run/*
app/public/tailwind/*
app/localhost_2023-08-19_06-45-08.report.html
app/.keys
app/historial_ip
